
@{
    ViewBag.Title = "Bulk Create";
}

<h2>Bulk Create</h2>

<form>
    Bulk Tickets (please note all these tickets will be created new)
    <textarea name="ticketsIssued">

    </textarea>
    <input type="submit" />
</form>

